$size:10px;

html,body{
    margin:0;
    padding:0;
    li{
        font-size:$size;
    }

    #div1{
        width: 650px;
        height: 500px;
        background-image: url(../images/1.jpg);
        background-size: cover;
    }
}